@model Benefind.Models.Ndis201819

@{
    ViewData["Title"] = "Details";
}

<h2></h2>

<div id="benefit-detial">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RegistrationGroup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RegistrationGroup)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportItem)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportItem)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportItemDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportItemDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quote)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PriceLimit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PriceLimit)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PriceControl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PriceControl)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportCategories)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportCategories)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportCategoryNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportCategoryNumber)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.SupportItemNumber">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
