@model Benefind.Models.Ndis201819

@{
    ViewData["Title"] = "Details";
}

<style>
    .wrapper-detail{
        margin:3rem;
    }
</style>
<!-- Bootstrap CSS-->
<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<div class="wrapper-detail">
<div id="benefit-detial">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RegistrationGroup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RegistrationGroup)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportItem)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportItem)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportItemDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportItemDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quote)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PriceLimit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PriceLimit)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PriceControl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PriceControl)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportCategories)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportCategories)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SupportCategoryNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SupportCategoryNumber)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.SupportItemNumber">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
